<?xml version='1.0' encoding='utf-8'?>
<widget id="com.lsy.gaussgeo" version="0.6.4" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>GaussGeo</name>
    <description>
        A Simple Gauss Geolocation APP, which could provide Gauss Geolocation Coordinate in chinese format(such as BeiJing-54,XiAn-80).
    </description>
    <author email="lishao378@sohu.com" href="http://lishao378.blog.sohu.com">
        lsyer
    </author>
    <content src="index.html" />
    <access origin="*" />
</widget>
